.container{
    padding: 40px;
  height: 500px;
  .note {
    margin-top: 20px;
    line-height: 30px;
    font-size: 28px;
    font-weight: bold;
  }
  .y-table .scroll-box{
    max-height: 500px;
  }
}
