.kalendar-header {
  display: flex;
  align-items: center;
  .week-day-item {
    flex: calc(100% / 7);
  }
  .week-day-item {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.45);
    text-align: center;
    border-bottom: #{'1PX'} solid rgba(0,0,0,.09);
    &:first-child,
    &:last-child {
      color: #cc1414;
    }
  }
}
@media screen and (min-width: 480px) {
  .kalendar-header {
    .week-day-item {
      font-size: #{'12PX'};
      height: #{'30PX'};
      line-height: #{'30PX'};
    }
  }
}