@import "./assets/css/common.scss";
.fixed-button {
  margin-top: -#{'1PX'};
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px 24px 0;
  background: #fff;
  z-index: 99;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: calc(env(safe-area-inset-bottom) / 1.7);

  .cancel-btn {
    margin: 0;
  }

  .btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    max-height: #{"88PX"};
    background: #1890ff;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    color: #fff;
    &.cancel {
      color: #1890ff;
      border: #{"1PX"} solid #1890ff;
      background: #fff;
    }
    &.delete {
      color: #ff0000;
      border: #{"1PX"} solid #ff0000;
      background: #fff;
    }
  }

  /* 水平 */
  &.horizontal {
    display: flex;
    align-items: center;
    min-height: 120px;
    height: 120px;
    .btn {
      margin-right: 10px;
    }
  }

  /* 垂直 */
  &.vertical {
    height: 218px;
    .btn {
      margin: 0 auto 10px;
      width: 80%;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.single {
      height: 120px;
    }
  }

  .pd-safe {
    margin-top: 16px;
  }
}
.fixed-gap {
  &.horizontal,
  &.single {
    height: 120px;
  }
  &.vertical {
    height: 218px;
  }
}
@media screen and (min-width: 480px) {
  .fixed-button {
    margin-top: -#{"1PX"};
    box-shadow: 0 0 #{"10PX"} rgba(0, 0, 0, 0.1);
    padding: 0;
    .btn {
      cursor: pointer;
      flex: inherit;
      padding: #{"0PX 20PX"};
      height: #{"40PX"};
      max-height: #{"40PX"};
      line-height: #{"40PX"};
      border-radius: #{"10PX"};
      font-size: #{"14PX"};
      text {
        cursor: pointer;
      }
    }

    /* 水平 */
    &.horizontal,
    &.vertical,
    &.single {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      line-height: #{"60PX"};
      min-height: #{"60PX"};
      height: #{"60PX"};
      margin-top: #{"60PX80PX"};
      .btn {
        margin: #{"0 10PX 0 0"};
        width: inherit;
      }
    }
  }
  .fixed-gap {
    &.horizontal,
    &.single,
    &.vertical {
      height: #{"60PX"};
    }
  }
}
