@import "./assets/css/mixins.scss";
@import "./assets/css/common.scss";
.modal-layout {
  @include mask(fixed, transparent);
  width: 100vw;
  height: 100vh;
  font-size: 28px;
  z-index: 1000;
}
.cover-bg {
  @include mask(absolute);
  opacity: 0.5;
  z-index: 1000;
}

// 跟随modal
.modal-follow {
  position: absolute;
  width: 100%;
  left: 50%;
  padding: 15px;
  background: #ffffff;
  z-index: 1001;
  transform: translateX(-50%);
  .arrows_up {
    position: absolute;
    right: 90px;
    width: 0;
    height: 0;
  }
  &.down {
    top: 100%;
    .arrows_up {
      bottom: 100%;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent;
      border-top: 30px solid transparent;
      border-bottom: 30px solid #fff;
    }
  }
  &.up {
    bottom: 80px;
    .arrows_up {
      top: 100%;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-top: 30px solid #fff;
    }
  }
  .modal-body {
    overflow: auto;
  }
}

.modal-head {
  position: relative;
  width: 100%;
  padding: 0;
  line-height: 100px;
  color: #000;
  .modal-head-title {
    text-align: center;
    line-height: 100px;
    border-bottom: #{'1PX'} solid #F0F0F0;
  }
  .close {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    width: 100px;
    text-align: center;
    transform: translateY(-50%);
    .img {
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }
  }
}
.modal-body{
  padding: 24px;
  overflow-y: auto;
}
// 底部modal
.modal-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 1001;


  .modal-body {
    padding: 10px 15px;
    background: #fff;
  }
}

// 中间modal
.modal-default {
  width: 492px;
  z-index: 1001;
  @include align-center();
  background-color: #fff;
  .modal-body-in {
    max-height: calc(80vh);
  }
}

.modal-layout.hasMaskOut {
  z-index: 1020;
  .cover-bg {
    z-index: 1020;
  }
  .modal-follow {
    z-index: 1021;
  }
}
@media screen and (min-width: 480px) {
  .modal-layout {
    @include mask(fixed, transparent);
    width: 100vw;
    height: 100vh;
    font-size: 28px;
    z-index: 1000;
    .modal-head {
      position: relative;
      width: 100%;
      padding: 0;
      line-height: 100px;
      color: #000;
      .modal-head-title {
        text-align: left;
        height: #{"50PX"};
        line-height: #{"50PX"};
        font-size: #{'14PX'};
        padding: #{'0 80PX 0 20PX'};
      }
    }
    .close {
      width: #{"50PX"};
      height: #{"50PX"};
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .img,.img img {
        width: #{'22PX'};
        height: #{'22PX'};
        vertical-align: top;
      }
    }
  }
  .cover-bg {
    @include mask(absolute);
    opacity: 0.5;
    z-index: 1000;
  }

  .modal-body {
    padding: #{'12PX'};
  }
  // 跟随modal
  .modal-follow {
    position: absolute;
    width: 90%;
    left: 50%;
    padding: 15px;
    background: #ffffff;
    z-index: 1001;
    transform: translateX(-50%);
    .arrows_up {
      position: absolute;
      right: 90px;
      width: 0;
      height: 0;
    }
    &.down {
      top: 100%;
      .arrows_up {
        bottom: 100%;
        border-right: 30px solid transparent;
        border-left: 30px solid transparent;
        border-top: 30px solid transparent;
        border-bottom: 30px solid #fff;
      }
    }
    &.up {
      bottom: 80px;
      .arrows_up {
        top: 100%;
        border-right: 30px solid transparent;
        border-left: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-top: 30px solid #fff;
      }
    }
    .modal-body {
      overflow: auto;
    }
  }

  // 底部modal
  .modal-bottom {

    .modal-body {
      padding: 10px 15px;
      background: #fff;
    }
  }

  // 中间modal
  .modal-default {
    width: 492px;
    max-width: calc(90vw);
    background: #ffffff;
    z-index: 1001;
    @include align-center();
  }

  .modal-layout.hasMaskOut {
    z-index: 1020;
    .cover-bg {
      z-index: 1020;
    }
    .modal-follow {
      z-index: 1021;
    }
  }
}
