@import "./assets/css/common.scss";
.y-radio {
  display: inline-flex;
  align-items: center;
  font-size: 30px;
  &.disabled {
    color: #ccc;
  }
  .img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 480px) {
  .y-radio {
    font-size: #{'13PX'};
    .img {
      width: #{'14PX'};
      height: #{'14PX'};
      margin-right: #{'4PX'};
    }
  }
}
