@import "./assets/css/common.scss";
.date-time-picker {
  height: 100%;

  &>.btn {
    padding-right: 30px;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    &:after {
      content: "";
      width: 15px;
      height: 15px;
      border: 4px solid rgba(0, 0, 0, 0.4);
      border-width: 0 4px 4px 0;
      transform: rotate(-45deg) translateY(-50%);
      position: absolute;
      top: 48%;
      right: 0;
      z-index: 10;
    }
  }
  .date-time-picker-in {
    max-width: #{"400PX"};
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 500;
    width: 100%;
    border: #{'1PX'} solid #e4e7ed;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background: #fff;
    border-radius: 4px;
    .arrows_up {
      position: relative;
      top: -8px;
      left: 70%;
      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 10px solid #fff;

    }
    .date-time-picker-head {
      padding:  15px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: #{'1PX'} solid #e4e7ed;
      .text {
        padding: 0 15px;
        width: 48%;
        height: 60px;
        line-height: 60px;
        border: #{'1PX'} solid #e4e7ed;
        box-sizing: border-box;
        border-radius: 10px;
      }
    }
    .date-time-picker-foot {
      padding: 15px;
      border-top: #{'1PX'} solid #e4e7ed;
      text-align: right;
      .btn {
        cursor: pointer;
        display: inline-block;
        padding: 0 20px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
        color: #606266;
        border: #{'1PX'} solid #e4e7ed;
        border-radius: 6px;
      }
    }
  }

  .placeholder {
    color: #b2b2b2;
  }

  .clear {
    padding: 10px;
    background: #fff;
  }

  .img-clear {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
  }
}

.search-bar_y-date-time-picker {
  .date-time-picker {
    flex: 1;
    .btn:after {
      display: none;
    }
  }
}
.form-pattern_view {
  .date-time-picker .btn {
    padding-right: 0;
    &:after {
      display: none;
    }
  }
}
@media screen and (min-width: 480px) {
  .date-time-picker {
    &>.btn {
      padding-right: #{'15PX'};
      &:after {
        width: #{'7PX'};
        height: #{'7PX'};
        border: #{'2PX'} solid rgba(0, 0, 0, 0.4);
        border-width: #{'0 2PX 2PX 0'};
      }
    }
    .date-time-picker-in {
      box-shadow: #{'0 #{'1PX'} 6PX 0'} rgba(0,0,0,.1);
      border-radius: #{'2PX'};
      .arrows_up {
        top: #{'-4PX'};
        border-right: #{'5PX'} solid transparent;
        border-left: #{'5PX'} solid transparent;
        border-bottom: #{'5PX'} solid #fff;
      }
      .date-time-picker-head {
        padding:  #{'7PX'};
        margin-bottom: #{'7PX'};
        .text {
          padding: 0 #{'7PX'};
          height: #{'30PX'};
          line-height: #{'30PX'};
          border-radius: #{'5PX'};
        }
      }
      .date-time-picker-foot {
        padding: #{'7PX'};
        .btn {
          padding: #{'0 10PX'};
          height: #{'25PX'};
          line-height: #{'25PX'};
          font-size: #{'12PX'};
          border-radius: #{'3PX'};
        }
      }
    }
  
    .clear {
      padding: #{'5PX'};
    }
  
    .img-clear {
      width: #{'15PX'};
      height: #{'15PX'};
    }
  }
}