@import "./assets/css/common.scss";
.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 60px;

  .counter-plus,
  .counter-minus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #{'1PX'} solid #3388ff;
    &.disabled {
      border-color: #ddd;
    }
    .img {
      width: 20px;
      height: 20px;
    }
  }
  .counter-input {
    flex: 1;
    margin: 0 10px;
    height: 50px;
    text-align: center;
    border: #{'1PX'} solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    input.iptxt {
      width: 100%;
      height: 48px;
      line-height: 48px;
      border: none;
    }

    .weui-input {
      height: 48px;
      line-height: 48px;
      text-align: center;
    }
  }
}
@media screen and (min-width: 480px) {
  .counter {
    width: #{'100PX'};
    height: #{'30PX'};

    .counter-plus,
    .counter-minus {
      width: #{'20PX'};
      height: #{'20PX'};
      .img {
        width: #{'10PX'};
        height: #{'10PX'};
      }
    }
    .counter-input {
      margin: #{'0 5PX'};
      height: #{'25PX'};
      border-radius: #{'5PX'};
      input.iptxt,.weui-input {
        font-size: #{'12PX'};
        height: #{'24PX'};
        line-height: #{'24PX'};
      }
    }
  }
}
