@import "../assets/css/common.scss";
.calendar {
  display: flex;
  &-sidebar {
    width: 135px;
    margin-right: 15px;
    font-size: 24px;
    border-right: #{'1PX'} solid rgba(0,0,0,.09);
    box-sizing: border-box;
    .shortcut-item {
      padding: 15px 0;
    }
  }
  &-body {
    flex: 1;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 480px) {
  .calendar {
    &-sidebar {
      width: #{'100PX'};
      margin-right: #{'10px'};
      font-size: #{'12PX'};
      .shortcut-item {
        padding: #{'10PX 0'};
      }
    }
  }
}
