.y-form-item-custom-selector {
  position: relative;
  height: 100%;
  padding-right: 30px;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 4px solid rgba(0, 0, 0, 0.4);
    border-width: 0 4px 4px 0;
    transform: rotate(-45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 100;
  }
  .placeholder {
    color: #b2b2b2;
  }
  .text {
    flex: 1;
    line-height: 1.5;
    overflow: hidden;
    &.placeholder {
      color: #b2b2b2;
    }
  }

  .clear {
    padding: 10px;
    background: #fff;
  }

  .img-clear {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  }
}

.form-pattern_view .y-form-item-custom-selector {
  padding-right: 0;
  &:after {
    display: none;
  }
  .img-clear {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .y-form-item-custom-selector {
    padding-right: #{'15PX'};
    &::after {
      width: #{'7PX'};
      height: #{'7PX'};
      border: #{'2PX'} solid rgba(0, 0, 0, 0.4);
      border-width: #{'0 2PX 2PX 0'};
    }
  
    .clear {
      padding: #{'5PX'};
    }
  
    .img-clear {
      width: #{'15PX'};
      height: #{'15PX'};
    }
  }
}