@import "./assets/css/common.scss";
.y-page-container {
  background: #f2f4f6;
  font-size: 28px;
  height: calc(100vh - 1px);
  .container {
    margin: 24px 24px 0 24px;
  }
  &-search-bar {
    height: calc(100vh - 82px);
  }
  &-fixed-button {
    height: calc(100vh - 120px);
  }
  &-search-bar-fixed-button {
    height: calc(100vh - 202px);
  }
}
@media screen and (min-width: 480px) {
  .y-page-container {
    font-size: #{"12PX"};
    .container {
      margin: #{"12PX 12PX 0 12PX"};
    }
    &-search-bar {
      height: calc(100vh - #{"41PX"});
    }
    &-fixed-button {
      height: calc(100vh - #{"61PX"});
    }
    &-search-bar-fixed-button {
      height: calc(100vh - #{"101PX"});
    }
  }
}
