.box {
  position: relative;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: #{'1PX'} solid #000;
}

button {
  height: 80px;
  margin-top: 700px;
}
.container{
  height:400px;
  .modal-body{
    height:500px
}
}
