.time-picker {
  position: relative;
  flex: 1;
  height: 100%;
  .placeholder {
    color: #ddd;
  }

  .time-picker-in,
  .time-picker-in>div:first-child,
  .time-picker-in .picker{
    height: 100%;
  }

  .img-clear {
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 10;
    background: #fff;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }
}
