.y-form-item-radio-group {
    &.y-radio-group {
        .y-radio {
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
        }
    }
}
@media screen and (min-width: 480px) {
    .y-form-item-radio-group {
        &.y-radio-group {
            .y-radio {
                margin-right: #{'10PX'};
            }
        }
    }
}