@import './assets/css/mixins.scss';
@import "./assets/css/common.scss";
.upload-img-out {
  flex: 1;
  margin-bottom: 10px;
  .img-item,
  .upload-img-btn {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: #{'1PX'} #d6e4ef solid;
    vertical-align: middle;
  }
  .mask{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .upload-img-btn{
    position: relative;
    line-height: 123px;
    text-align: center;
    .img{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      transform: translate(-50%, -50%);
    }
  }
  .img-item {
    position: relative;
    .img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #eee;
    }
    .mask,
    .close {
      position: absolute;
      z-index: 10;
    }
    .mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0,0,0,.5);
      .loading {
        width: 20px;
        height: 20px;
      }
      .loading-again {
        width: 50px;
        height: 50px;
      }
      .img-preview {
        width: 50px;
        height: 50px;
      }
    }
  }
  .delete {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 11;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    .img-remove {
      width: 30px;
      height: 30px;
    }
  }
}


.form-item-y-upload-1 {
  .upload-img-out {
    .img-item,
    .upload-img-btn {
      width: 60px;
      height: 60px;
    }
    .img-item {
      .mask .img-preview {
        width: 30px;
        height: 30px;
      }
    }
    .upload-img-btn {
      .img {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
      }
    }

  }
}



.video-modal {
  @include mask(fixed, transparent);
  width: 100vw;
  height: 100vh;
  font-size: 28px;
  z-index: 1000;
  .cover-bg {
    @include mask(absolute);
    opacity: 1;
    z-index: 1000;
  }
  .video-body {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 300px;
    z-index: 1001;
    transform: translate(-50%, -50%);
    .viedo {
      width: 100%;
    }
  }
}
@media screen and (min-width: 480px) {
  .upload-img-out {
    margin-bottom: #{'5PX'};
    .img-item,
    .upload-img-btn {
      width: #{'62PX'};
      height: #{'62PX'};
      margin-left: #{'5PX'};
      margin-bottom: #{'5PX'};
      border-radius: #{'5PX'};
    }
    .upload-img-btn{
      line-height: #{'60PX'};
      .img{
        width: #{'50PX'};
        height: #{'50PX'};
      }
    }
    .img-item {
      .img {
        border-radius: #{'5PX'};
      }
      .mask {
        .loading {
          width: #{'10PX'};
          height: #{'10PX'};
        }
        .loading-again {
          width: #{'25PX'};
          height: #{'25PX'};
        }
        .img-preview {
          width: #{'25PX'};
          height: #{'25PX'};
        }
      }
    }
    .delete {
      top: #{'-5PX'};
      right: #{'-5PX'};
      width: #{'14PX'};
      height: #{'14PX'};
      .img-remove {
        width: #{'14PX'};
        height: #{'14PX'};
      }
    }
  }
  .form-item-y-upload-1 {
    .upload-img-out {
      .img-item,
      .upload-img-btn {
        width: #{'30PX'};
        height: #{'30PX'};
      }
      .img-item {
        .mask .img-preview {
          width: #{'15PX'};
          height: #{'15PX'};
        }
      }
      .upload-img-btn {
        .img {
          width: #{'20PX'};
          height: #{'20PX'};
        }
      }
    }
  }
  .video-modal {
    font-size: #{'14PX'};
    .video-body {
      height: #{'150PX'};
    }
  }
}