@import "./assets/css/common.scss";
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .tab-item {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background: #3388ff;
      transform: translateX(-50%);
      transition: all ease .4s;
    }
    &.active {
      &:after {
        width:  80%;
      }
    }
    &-number {
      display: inline-block;
      margin-left: 10px;
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 20px;
      text-align: center;
      color: #fff;
      background: #f56c6c;
      border-radius: 50%;
      &.exceed {
        width: 50px;
        border-radius: 18px;
      }
    }
  }
}
@media screen and (min-width: 480px) {
.tabs {
  .tab-item {
    height: #{'30PX'};
    line-height: #{'30PX'};
    font-size: #{'14PX'};
    &:after {
      height: #{'2PX'};
    }
    &-number {
      margin-left: #{'5PX'};
      width: #{'17PX'};
      height: #{'17PX'};
      line-height: #{'17PX'};
      font-size: #{'11PX'};
      &.exceed {
        width: #{'25PX'};
        border-radius: #{'9PX'};
      }
    }
  }
}
}