$main-color: #1890FF; //主要
$minor-color: #fee5e7; // 次要
$minor2-color:#3388cc; // 比主要颜色淡点
$row-border-color: #EBEBEB; // 表单下边框颜色
$placeholder-color: #B2B2B2; // placeholder颜色
$-danger-color: #f56c6c;

