@import "./assets/css/themes.scss";
@import "./assets/css/common.scss";
.y-form {
  font-size: 30px;
  padding: 0 26px;

  .form-item {
    position: relative;
    display: flex;
    min-height: 104px;
    line-height: 104px;
    border-bottom: #{'1PX'} solid $row-border-color;
    vertical-align: top;

    .require {
      &::before {
        content: "*";
        color: #f56c6c;
        margin-right: 4px;
      }
    }
    &-y-form-item-text-1 .require:before {
      display: none;
    }

    &__label {
      min-width: 60px;
      max-width: 280px;
      padding-right: 30px;
      .tip {
        color: #ccc;
      }
    }
    &__content {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      text-align: right;
      align-items: center;
      line-height: initial;
      .cont {
        text-align: right;
      }
      .input {
        height: 104px;
        line-height: 104px;
      }
    }
    &.column {
      flex-direction: column;
      .form-item__label {
        max-width: 100%;
      }
      .form-item__content {
        text-align: left;
      }
    }
  }
}
@media screen and (min-width: 480px) {
  .y-form {
    font-size: #{'12PX'};
    padding: #{'0 13px'};
  
    .form-item {
      min-height: #{'50PX'};
      line-height: #{'50PX'};
  
      .require {
        &::before {
          margin-right: #{'2PX'};
        }
      }
      &__label {
        min-width: #{'30PX'};
        max-width: #{'140PX'};
        padding-right: #{'15PX'};
      }
      &__content {
        .input {
          height: #{'50PX'};
          line-height: #{'50PX'};
        }
      }
    }
  }
}