@import "./assets/css/common.scss";
.y-date-picker {
  height: 100%;
  .modal-follow {
    z-index: 1050;
  }
  .placeholder {
    color: #b2b2b2;
  }
  .btn {
    padding-right: 30px;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    &:after {
      content: "";
      width: 15px;
      height: 15px;
      border: 4px solid rgba(0, 0, 0, 0.4);
      border-width: 0 4px 4px 0;
      transform: rotate(-45deg) translateY(-50%);
      position: absolute;
      top: 48%;
      right: 0;
      z-index: 10;
    }
  }

  .clear {
    padding: 10px;
    background: #fff;
  }

  .img-clear {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  .modal-follow {
    max-width: #{"400PX"};
  }
}
.search-bar_y-date-picker {
  .y-date-picker {
    flex: 1;
    .btn:after {
      display: none;
    }
  }
}
.form-pattern_view {
  .y-date-picker .btn {
    padding-right: 0;
    &:after {
      display: none;
    }
  }
}
@media screen and (min-width: 480px) {
  .y-date-picker {
    .btn {
      padding-right: #{"15PX"};
      &:after {
        width: #{"7PX"};
        height: #{"7PX"};
        border: #{"2PX"} solid rgba(0, 0, 0, 0.4);
        border-width: #{"0 2PX 2PX 0"};
      }
    }

    .clear {
      padding: #{"5PX"};
    }

    .img-clear {
      width: #{"15PX"};
      height: #{"15PX"};
    }
  }
}
